<div class="rendered-form">
  <form method="POST" action="demo">
  <div class="">
      <h1 access="false" id="control-2506934">HLS Stream via Experience Composer Demo</h1>
      <br>
      <span><%=message%></span>
      <br>
  </div>
  <div class="formbuilder-text form-group field-text-api-key">
      <label for="text-api-key" class="formbuilder-text-label">API Key</label>
      <input type="text" placeholder="API KEY" class="form-control" name="apikey" access="false" maxlength="10" id="text-api-key">
  </div>
  <div class="formbuilder-text form-group field-text-api-secret">
      <label for="text-api-secret" class="formbuilder-text-label">API Secret</label>
      <input type="password" placeholder="API SECRET" class="form-control" name="secret" access="false" id="text-api-secret">
  </div>
  <div class="formbuilder-button form-group field-button-start">
      <button type="sumbit" class="btn-default btn" name="button-start" access="false" style="default" id="button-start">Start Demo</button>
  </div>
  <div class="">
      <p access="false" id="control-6165523">
          <br>
          <br>Enter your Tokbox API key and secret above.
          <div>
              <br>
          </div>
          <div>Note that the Experience Composer must be enabled for your account to use the demo.</div>
          <div>You can check&nbsp;<a href="https://tokbox.com/developer/guides/experience-composer/">Experience Composer | Vonage Video API Developer (tokbox.com)</a>&nbsp;to learn how to do that.</div>
      </p>
  </div>
</form>
</div>